<div class="top-page">
    <div class="top-background-image">
        <img src="clother-logo.png">
        <div class="top-center-message" style="font-size: 64px; text-align: center; margin-top: 230px; font-weight: bold; line-height: 150px;">
            あなたの世界観作りをサポートする <br>
            ファッションブラットフォーム
        </div>
        <div class="loginPage_contents" style="text-align: center; margin-top: 30px;">
            <button class="top-login-button" style="text-align: center;">
              <%= link_to "メールアドレスでログインする", new_user_session_path, class: "btn loginPage_contents_btn" %>
            </button>
        </div>
        <br>
        <div class="top-corporate-login" style="text-align: center;">
            <a href="">掲載企業の方はこちら</a>
        </div>
    </div>
</div>
