<div class="top-page">
    <div class="top-background-image">
        <div class="clother-logo">
            <%= image_tag 'clother-logo.png', :size =>'347x347', :class => "clother-logo1" %>
        </div>
        <div class="top-center-message" style="font-size: 105px; text-align: center; margin-top: 0px; font-weight: bold; line-height: 140px; color: white;">
            個性を引き出すファッション <br>
            マッチングアプリ
        </div>
        <div class="loginPage_contents" style="text-align: center; margin-top: 80px;">
            <button class="top-login-button" style="text-align: center;">
              <%= link_to "ログインする", new_user_session_path, class: "btn loginPage_contents_btn" %>
            </button>
        </div>
        <br>
        <div class="top-corporate-login" style="text-align: center;">
            <a href="" style="color: white;">掲載企業の方はこちら</a>
        </div>
    </div>
</div>
