<div class="container">
    <div class="top-prof">
        <div class="top-user-image">
            <%= image_tag('woman.jpg', class: "img-circle pull-left profile-img", style: "width: 100px; height: 100px;") %>
        </div>
        <div class="top-user-name">
            <%= @user.name %>
        </div>
    </div>
    <div class="prof-detail">
        <div class="favorite-pin">

        </div>
        <div class="profile">
            
        </div>
    </div>
</div>
