<div class="container">
    <div class="top-prof">
        <div class="top-user-image">
            <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "prof-image", fallback: "no-image.png" %>
        </div>
        <div class="top-user-name">
            <%= @user.name %>
        </div>
    </div>
    <div class="prof-detail">
        <div class="favorite-pin">
            <%= link_to user_path(current_user), class: "to-favorite-pin-button", style: "border-top: solid 2px #000000;" do %>
                <i class="fas fa-heart">お気に入り</i>
            <% end %>
        </div>
        <div class="profile">
            <%= link_to info_user_path(current_user), class: "to-detail-prof-button" do %>
                <i class="fas fa-edit">プロフィール</i>
            <% end %>
        </div>
    </div>
</div>
