@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "common";

@import "top";
@import "users/sign_up";
@import "users/sign_in";

.header-class {
  width: 1440px;
  height: 120px;
  margin: 0 auto;
  background-color: white;
  display: inline-block !important;
}

.top-background-image {
  height: 790px;
  width: 1440px;
  background-image: url(people2.png);
  background-size: cover;
}

.top-login-button {
  display: block;
  width: 310px;
  height: 65px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 30px;
  background: #426bff;
  color: #fff;
}

.btn {
  color: #fff;
}

.clother-logo1 {
  margin-top: -100px;
  margin-left: 50px;
  display: inline-block;
}

.search-key {
  margin: 0 auto;
  width: 700px;
  height: 50px;
  display: block;
  border-radius: 10px;
  display: inline-block;
}

.ul {
  list-style: none;
  display: inline-block !important;
}
