@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "common";

@import "top";
@import "users/sign_up";
@import "users/sign_in";
@import "users/show";
@import "users/info";
@import "users/edit";
@import "products/index";

header {
  text-align: center;
  padding-top: 40px;
  height: 116px;
}

.top-background-image {
  height: 790px;
  width: 1440px;
  background-image: url(people2.png);
  background-size: cover;
}

.top-login-button {
  display: block;
  width: 310px;
  height: 65px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 30px;
  background: #426bff;
  color: #fff;
}

.btn {
  color: #fff;
}

.search-key {
  margin: 0 auto;
  width: 700px;
  height: 50px;
  display: block;
  border-radius: 10px;
  display: inline-block;
}

.profile-img {
  border-radius: 50%;
}

.corpolate-logo {
  margin-right: 30px;
}
