// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.clother-logo {
  height: 112px;
  width: 590px;
  padding-top: 80px;
  padding-left: 225px;
}
.top-login-button {
  background: #426bff;
  color: white;
  width: 200px;
  padding: 10px;
  margin-left: 800px;
  margin: 0 auto;
  border-radius: 90px;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.8;
  }
}
