<div class="topPage">
  <div id="tinderslide">
    <ul>
      <% @products.each do |product| %>
        <li data-user_id="<%= product.id %>">
          <div class="userName"><%= product.product_name %></div>
          <%= image_tag product.product_image.url(:thumb) %>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
      <% end %>
    </ul>
    <div class="noUser">これで全てです。</div>
  </div>
  <div class="actions" id="actionBtnArea">
      <a href="#" class="dislike"><i class="fas fa-times fa-2x"></i></a>
      <a href="#" class="like"><i class="fas fa-heart fa-2x"></i></a>
  </div>
</div>
<script>
  $("#tinderslide").jTinder();
  $('.actions .like, .actions .dislike').click(function(e){
  	e.preventDefault();
  	$("#tinderslide").jTinder($(this).attr('class'));
  });
</script>
