.top-prof {
  text-align: center;
  border-bottom: solid 0.3px #dadada;
  padding-bottom: 20px;
}
.container {
  width: 874px;
}
.top-user-image {
  margin-top: 40px;
  margin-bottom: 20px;
}
.prof-detail {
  text-align: center;
}
.favorite-pin {
  margin-top: 20px;
  display: inline-block;
  margin-right: 30px;
}
.profile {
  margin-top: 20px;
  display: inline-block;
  margin-left: 30px;
}
.prof-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.top-user-name {
  font-size: 18px;
}
