.header {
  height: 80px;
  weight: 1440px;
  background-color: #426bff;
}

.header-text {
  font-size: 18px;
  padding: 30px;
  text-align: center;
  color: white;
}

.form-control {
  width: 1060px;
}

.field {
  margin: 30px 190px;
}

.form1 {
  margin-top: 30px;
}

.submitBtn {
  background: #426bff;
  color: white;
  width: 200px;
  padding: 10px;
  margin-left: 600px;
  border-radius: 90px;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.6;
  }
}
