#container1 {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px;
  width: 400px !important;
  height: 400px !important;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.avatar {
  background: #ffffff;
  width: 340px !important;
  height: 340px !important;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: auto 160% !important;
  background-position: center;
  background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
.price {
  // margin-top: -20px;
  text-align: center;
  font-size: 24px;
  color: red;
}
.brandName {
  // margin-top: -20px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.userName1 {
  // margin-top: -20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 1px black;
}

.productsImage {
  position: relative;
  width: 340px;
}
.productsContainer {
  position: absolute;
  top: 279px;
  left: 110px;
}
